#main-doc{
    background-color: rgb(123,212,170);
    padding-top: 20px;
    padding-left: 20px;
    width: 240%;
    height: 250vh;  
    margin-left: -10px;
    margin-top: -40px;
    font-family: monospace;
    font-size: 25px;}
#navbar{
  padding-top: 20px ;
  padding-left: 20px;
  
  margin: -10px;
  margin-right: -20px;
  margin-left: -30px;
  margin-top: -80px;
  margin-bottom: 10px;
  background-color: rgb(110,110,219);
  position: fixed;
  text-align: center;  
  width: 100%;
  font-size: 20px;
}
@media (min-width: 1024px){
#navbar{
    text-align: left;
}}
header{
    font-size: 30px;
}
#Jerusalem_Population{
    background-color: green;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: -50px;
    margin-left: -20px;
    
}
#Tel_Aviv_Population{
    background-color: rgb(160, 160, 160);
    padding: 20px;
    margin-top: -70px;
     margin-left: -30px;
    margin-bottom: -60px;  
}
#Haifa_Population{
    background-color: red;
    padding: 20px;
    margin-top: -60px;
    margin-left: -30px;
    margin-bottom: -60px;
}
#Rishon_Letzion_Population{
    background-color: blue;
    padding: 20px;
    margin-top: -60px;
    margin-left: -30px;
    margin-bottom: -60px;
}
#Petah_Tikva_Population{
    background-color: rgb(54, 20, 77);
    padding: 20px;
    margin-top: -60px;
    margin-left: -30px;
}
#other{
  background-color: rgb(0, 255, 64, 0.651);
  padding: 20px;
  margin-left: -20px;
  margin-bottom: -20px;
}
p{
  font-family: 'cursive';
}
img{
 border-radius: 30%;
}
#list{
    font-family: 'Luminari', 'fantasy';
    color: rgba(255, 0, 170, 0.651);
    border: 4px dotted blue
    
    
    ;
}